# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = crlf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
max_line_length = 150

[*.java]
ij_java_align_multiline_chained_methods = false
ij_java_method_call_chain_wrap = split_into_lines
ij_java_block_comment_at_first_column = false
ij_java_line_comment_add_space = true
ij_java_align_multiline_annotation_parameters = false
ij_java_blank_lines_after_imports = 1
ij_java_blank_lines_before_imports = 0
ij_java_class_count_to_use_import_on_demand = 999
ij_java_names_count_to_use_import_on_demand = 999
ij_java_imports_layout = $*,|,java.**,|,javax.**,|,jakarta.**,|,org.**,|,net.**,|,com.**,|,org.springframework.**,|,org.**,|,lombok.**,|,br.com.veloe.**,|,*
ij_java_insert_inner_class_imports = false
ij_java_layout_static_imports_separately = true
ij_java_use_single_class_imports = true

[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2
ij_yaml_keep_indents_on_empty_lines = false

[*.{bash,zsh,sh,fish}]
ij_shell_binary_ops_start_line = false
ij_shell_keep_column_alignment_padding = false
ij_shell_minify_program = false
ij_shell_redirect_followed_by_space = false
ij_shell_switch_cases_indented = false
